name: Auto-assign issue
on:
  issues:
    types: [opened]
jobs:
  assign:
    runs-on: ubuntu-slim
    steps:
      - name: Auto-assign issue
        uses: pozil/auto-assign-issue@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          assignees: deweesa
